---
import ListCategories from '@/components/ListCategories'
import HeaderLink from '@/components/HeaderLink'
import TagIcon from './../components/icons/TagIcon.astro'
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'
import { siteConfig } from '@/site-config'

const MAX_POSTS = 1000 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='Tony Troy | useless tech ramblings'>
	<!-- <div id="home" class="container mx-auto px-4 py-8 flex items-center justify-center min-h-screen">
    <main class="space-y-8 text-center">
        <section>
            <img draggable="false" src="https://media.licdn.com/dms/image/v2/D4E03AQHTni5_RNYhlw/profile-displayphoto-shrink_400_400/B4EZQoVpTdGYAo-/0/1735843550926?e=1744848000&v=beta&t=5WSCr5X0p1yvLvdre7ZXBMPCIvvzVOJyW7eFQ6wvOrA" alt="my image" title="my image" height="120" width="120" class="rounded-full mx-auto mb-4">
            <h1 class="text-4xl font-bold mb-4">Welcome to Sinaru's Blog</h1>
            <p class="text-lg mb-4">Exploring the world of software development, art, and everything in between.</p>
            <div class="flex justify-center space-x-4">
                <a href="/posts" class="px-4 py-2 rounded-full hover:bg-blue-700" style="background: rgb(214, 214, 214);">Tech Blog</a>
                <a href="/about" class="px-4 py-2 rounded-full hover:bg-green-700" style="background: rgb(214, 214, 214);">About</a>
            </div>
        </section>
    </main>
</div> -->
	<HeaderLink href='/tags' class='flex flex items-center gap-1'>
		<TagIcon /> tags
	</HeaderLink>
	<ListPosts FirstBig={false} posts={posts} />
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },
				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
