---
export interface Props {
	tag: string
}
const { tag } = Astro.props
---

<a href={`/tags/${encodeURIComponent(tag.toLowerCase())}`} aria-label={tag}>
	<span
		class='bg-slate-200 dark:bg-slate-800 dark:hover:bg-gray-500 hover:bg-gray-400 hover:text-white py-1 px-4 dark:text-white rounded-full mb-2 w-fit line-clamp-2'
	>
		{tag ?? 'Blog Tag'}
	</span>
</a>
